{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for album in page_obj  %}
        <div class="col">
        <div class="card h-100">
            <a href="{% url 'albumDetails' album.id %}" class="">
                <img src="/images/{{album.image }}" class="card-img-top">
            </a>
            <div class="card-footer">
            <small class="fw-bold">{{album.user|title}}</small>
            <small class="float-end">Last updated {{album.uploaded_date|timesince}} ago</small>
            </div>
        </div>
        </div>
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
<br/>
<br/>
<br/>
{%endblock%}